{% extends 'core/base.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
<div class="container mx-auto mt-8 px-4">
    <div class="bg-white shadow-lg rounded-lg p-8">
        <h1 class="text-3xl font-semibold mb-6">About Us</h1>
        <p class="text-gray-700 leading-7">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quasi exercitationem non iste sequi non. Quis vitae ea ipsa soluta non obcaecati enim et enim perferendis! Et sunt assumenda ut quam repellendus quo consequatur animi est quos nulla id ratione accusantium qui officia optio aut porro error.
        </p>
        <p class="text-gray-700 leading-7 mt-4">
            Non nemo tempora ut officia amet et pariatur voluptatibus et error exercitationem et maxime fugiat qui sapiente facere. Qui repellat laboriosam vel magnam totam. At nihil molestias est sint voluptatum sed omnis fugiat? Et omnis quibusdam sit neque illum qui mollitia. Quis est aperiam rerum sed reprehenderit aspernatur aut quis praesentium.
        </p>
        <p class="text-gray-700 leading-7 mt-4">
            In possimus perferendis non sapiente vitae. At corrupti facere est veritatis mollitia qui. Quis nihil non exercitationem officiis. Id illum quaerat et error placeat non necessitatibus tempore quo quos ullam in eligendi accusantium ad corporis omnis ea consequatur eligendi.
        </p>
    </div>
</div>




{% endblock %}
