

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown Menu</title>
    <style>
       
    </style>
</head>
<body>
    <div class="relative inline-block text-left">
        <div>
            {% if request.user.is_authenticated %}
            <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-sky-800 text-white rounded-xl hover:bg-sky-900 px-3 py-2  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="false" aria-haspopup="true">
                Account
                <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>

        <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" style="display: none;">
            <div class="py-1" role="none">
                
                <a href="{% url 'userprofiles:favourites_list' %}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Favourites</a>
                <a href="{% url 'userprofiles:my_account' user.id %}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">View Profile</a>
                <a href="{% url 'userprofiles:logoutuser' %}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Sign out</a>
                
            </div>
            {% else %}
            <a href="{% url 'userprofiles:login' %}" class="flex space-x-2 py-2 px-4 bg-sky-800 text-white ring-1 ring-inset ring-gray-300 rounded-xl hover:bg-sky-900 "> Account </a> 
    
            {% endif %}
        </div>
 
    </div>

    <script>
        // JavaScript to toggle the dropdown menu
        const menuButton = document.getElementById("menu-button");
        const dropdownMenu = document.querySelector(".absolute");

        menuButton.addEventListener("click", () => {
            const expanded = menuButton.getAttribute("aria-expanded") === "true";
            menuButton.setAttribute("aria-expanded", !expanded);
            dropdownMenu.style.display = expanded ? "none" : "block";
        });
    </script>
</body>
</html>
{% endblock content %}